<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>License Plate Detection</title>
    <link rel="stylesheet" href="/static/style/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
</head>
<body>
    <div class="whole">
        <div class = "information">
            <h1>
                <center>
                    DEMO
                </center>
            </h1>
            <h2>
                <center>
                    {{ vehicle_information }}
                    <br>
                    {{ blur_information }}
                </center>
            </h2>
        </div>
        
        <div class="original_image">
            <center>
                <h1>
                    Original Image
                </h1>
                <img src = "/static/images/uploaded.jpg" width = "720px" height= "480px" onclick="openPopup(this)">
            </center>
        </div>

        <div class="image-container">

            <div class="photos-set" id="vehiclesSet">
                <h2> Original ROIs</h2>
                {% for vehicle_roi_file in vehicles_roi_files %}
                    <img src="/{{ vehicle_roi_file }}" alt="{{ vehicle_roi_file }}" onclick="openPopup(this)">
                    <br>
                {% endfor %}
            </div>

            <div class="photos-set" id="blurredSet">
                <h2> Blurred ROIs</h2>
                {% for blurred_license_plate_vehicles_roi_file in blurred_license_plate_vehicles_roi_files %}
                    <img src="/{{ blurred_license_plate_vehicles_roi_file }}" alt="{{ blurred_license_plate_vehicles_roi_file }}" onclick="openPopup(this)">
                    <br>
                {% endfor %}
            </div>

        </div>

        <div class="blurred_image">
            <center>
                <h1>
                    Blurred Image
                </h1>
                <img src = "/static/images/blurred.jpg" width = "720px" height= "480px" onclick="openPopup(this)">
            </center>
        </div>

        <div class="popup-container" id="popupContainer" onclick="closePopup()">
            <img src="" class="popup-image" alt="Pop-up Image" id="popupImage">
        </div>
        
    </div>

    <script>
        function openPopup(image) {
            var popup = document.getElementById("popupContainer");
            var popupImage = document.getElementById("popupImage");
            popupImage.src = image.src;
            popup.style.display = "flex";
        }

        function closePopup() {
            var popup = document.getElementById("popupContainer");
            popup.style.display = "none";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</body>
</html>
